#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.otp-input{
  height: 50px;
  width: 50px;
  margin: 5px;
  font-size: 40px;
  text-align: center;
}

.outer{
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.inner{
  
  background-color: green;
  text-align: right;
  transition: 0.5s ease-in;

}